<!DOCTYPE html>
<%- include("partials/header.ejs") %>
<!--main div -->
<div class="flex justify-center items-center w-full mt-8">
    <!-- div determines blog on different screen sizes -->
    <div class="lg:w-[40%] sm:w-[80%] md:w-[70%] bg-[#DDF2FD]">
        <h1 class="text-black text-center">About me!</h1>
        <p class="text-black">Hey there! I'm Matt McDaid, and this is my digital playground where the worlds of coding, Manchester United, and literature collide. Welcome to my online abode!
        <p>First things first, let's talk coding. I'm all about that digital life, using my keyboard as a paintbrush to create virtual landscapes and solutions. On this blog, you'll find a mix of coding tutorials, troubleshooting tips, and maybe even a bit of code poetry.
        Whether you're a seasoned coder or just starting out, there's something here for everyone.</p>
        <p>Now, let's shift gears to my undying love for Manchester United. I bleed red for my team, and this blog is my space to dissect the 
        highs and lows, the victories and defeats. From breaking down the latest match to diving into the rich history of the club, 
        expect a healthy dose of Red Devils passion.</p>
         
            But hey, life isn't all about coding and football (although, let's be honest, they're pretty high up there). I'm also a bookworm at heart. Join me on my literary adventures as I explore everything from classic novels to the latest bestsellers. I'll be sharing book reviews, recommendations, and my thoughts on the diverse world of literature.

            So, whether you're here for the code, the football banter, or some bookish discussions, you're in the right place. This is my corner of the internet, where pixels meet passion and prose. Come on in, and let's make this digital journey together!</p>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>