<!DOCTYPE html>
<%- include("partials/header.ejs") %>
<!--main div -->
<div class="flex justify-center items-center w-full mt-8">
    <!-- div determines blog on different screen sizes -->
    <div class="lg:w-[50%] sm:w-[80%] md:w-[70%]">
        <!-- form  -->
        <form action="/submit" method="POST" id="form1">
        <!-- title  -->
        <div class="mt-4">
         <input class="w-full" type="text" name="title" placeholder="title">
        </div>
        <!-- content  -->
        <div class="mt-4">
         <textarea class="textarea textarea-bordered w-full h-32" type="text" name="content" placeholder="content"></textarea>
        </div>
        </form>
        <!-- submit  -->
        <button type="submit" form="form1" value="Post" class="btn btn-info mt-4">Post</button>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>