<%- include("partials/header.ejs") %>
<!--title -->
<h1 class="flex justify-center items-center mt-4 text-lg"> Matt's Blog </h1>
<!--main div -->
<div class="flex justify-center items-center w-full mt-8">
    <!-- div determines blog on different screen sizes -->
    <div class="lg:w-[50%] sm:w-[80%] md:w-[70%]">
        <h2>Title</h2>
        <p>content</p>
    </div>
</div>
<%- include("partials/footer.ejs") %>